USE [GorevIzinYonetimiDb]
GO
-- 🔴 1. FOREIGN KEY KISITLAMALARINI KALDIR
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [FK_Departments_Users_UserId];
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Departments_DepartmentId];
GO

-- 🔵 2. DEPARTMAN VERİLERİNİ EKLE (UserId geçici olarak NULL)
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [UserId]) VALUES (1, N'Yazılım', NULL)
INSERT [dbo].[Departments] ([Id], [Name], [UserId]) VALUES (2, N'Analiz', NULL)
INSERT [dbo].[Departments] ([Id], [Name], [UserId]) VALUES (3, N'Test', NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF

-- 🔵 3. KULLANICI VERİLERİNİ EKLE
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [EmailConfirmationToken], [EmailConfirmed], [TokenExpireDate], [DepartmentId]) VALUES (21, N'Özkan Yılmaz', N'ozkanyilmaz.dev@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Manager', NULL, 1, NULL, 1)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [EmailConfirmationToken], [EmailConfirmed], [TokenExpireDate], [DepartmentId]) VALUES (24, N'Ali Öztürk', N'dev.ozkanyilmaz@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Manager', NULL, 1, NULL, 2)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [EmailConfirmationToken], [EmailConfirmed], [TokenExpireDate], [DepartmentId]) VALUES (25, N'Zeliş Alsancak', N'yilmazozkan43@gmail.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'User', NULL, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
-- 🔁 4. DEPARTMANLARA YÖNETİCİLERİ GÜNCELLE
UPDATE [dbo].[Departments] SET [UserId] = 21 WHERE [Id] = 1;
UPDATE [dbo].[Departments] SET [UserId] = 24 WHERE [Id] = 2;
UPDATE [dbo].[Departments] SET [UserId] = 35 WHERE [Id] = 3;
UPDATE [dbo].[Departments] SET [UserId] = 36 WHERE [Id] = 4;
GO

-- ✅ 5. FOREIGN KEY KISITLAMALARINI GERİ EKLE
ALTER TABLE [dbo].[Departments] WITH CHECK ADD CONSTRAINT [FK_Departments_Users_UserId]
    FOREIGN KEY([UserId]) REFERENCES [dbo].[Users] ([Id]);

ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Users_UserId];

ALTER TABLE [dbo].[Users] WITH CHECK ADD CONSTRAINT [FK_Users_Departments_DepartmentId]
    FOREIGN KEY([DepartmentId]) REFERENCES [dbo].[Departments] ([Id]);

ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentId];


GO
SET IDENTITY_INSERT [dbo].[Leaves] ON 

INSERT [dbo].[Leaves] ([Id], [leaveType], [Description], [StartDate], [EndDate], [statusType], [UserId], [managerResponseStatus]) VALUES (32, 0, N'Yıllık izne çıkmak istiyorum', CAST(N'2025-07-22T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-24T00:00:00.0000000' AS DateTime2), 1, 38, 1)
INSERT [dbo].[Leaves] ([Id], [leaveType], [Description], [StartDate], [EndDate], [statusType], [UserId], [managerResponseStatus]) VALUES (33, 3, N'Ücretsiz izne çıkmak istiyorum', CAST(N'2025-07-23T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-26T00:00:00.0000000' AS DateTime2), 1, 26, 1)
INSERT [dbo].[Leaves] ([Id], [leaveType], [Description], [StartDate], [EndDate], [statusType], [UserId], [managerResponseStatus]) VALUES (34, 1, N'Hastane randevum var', CAST(N'2025-07-21T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-22T00:00:00.0000000' AS DateTime2), 1, 26, 1)
GO
SET IDENTITY_INSERT [dbo].[Leaves] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [Description], [StartDate], [EndDate], [Status], [UserId]) VALUES (14, N'Daily e katıl', N'Günlük Daily''e katıl', CAST(N'2025-07-22T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-22T00:00:00.0000000' AS DateTime2), 1, 38)
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [StartDate], [EndDate], [Status], [UserId]) VALUES (45, N'dui. Suspendisse ac', N'a, malesuada id, erat. Etiam vestibulum', CAST(N'2025-07-24T00:00:00.0000000' AS DateTime2), CAST(N'2025-08-02T00:00:00.0000000' AS DateTime2), 1, 35)
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [StartDate], [EndDate], [Status], [UserId]) VALUES (46, N'porttitor scelerisque neque.', N'non, lobortis quis, pede. Suspendisse', CAST(N'2025-07-23T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-29T00:00:00.0000000' AS DateTime2), 0, 26)
GO
SET IDENTITY_INSERT [dbo].[Tasks] OFF

ALTER TABLE [dbo].[Leaves] ADD  DEFAULT ((0)) FOR [managerResponseStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Users_UserId]
GO
ALTER TABLE [dbo].[Leaves]  WITH CHECK ADD  CONSTRAINT [FK_Leaves_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Leaves] CHECK CONSTRAINT [FK_Leaves_Users_UserId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentId]
GO
